@model DOSBPM.Models.InteriorFinishes

@{
    ViewBag.Title = "Interior Finishes";
}

<div class="container-fluid">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <form>
            <h3>Interior Finishes</h3>

            @*Interior Finish Information*@
            <div style="padding-left:10px; display:inline-block;border:solid 1px; width:95%">
                <br />
                <div class="col-md-12">
                    <label class="col-md-3 ">Any Information to enter on this topic:</label>
                    <div class="col-md-2">
                        <div class="col-md-6"><input type="radio" class="RadYesNo" />&nbsp;&nbsp;&nbsp;<label>Yes</label>  </div>
                        <div class="col-md-6"><input type="radio" class="RadYesNo" />&nbsp;&nbsp;&nbsp;<label>No</label> </div>
                    </div>
                    <div class="col-md-7">
                        <label class="col-md-4 col-md-offset-3">Please Explain</label>
                        <div class="col-md-3">@Html.TextBoxFor(x => x.txtExplain, new { @class = "form-control" })</div>
                    </div>
                </div>
                @* Code Integration *@
                <div class="CodeIntegration col-md-12" style="width:100%;">
                    <br/>
                    <div class="col-md-2">
                        Code Compliance Document
                        @Html.TextBoxFor(X => X.txtCCD, new { @style = "background-color:#d3d3d3;", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Code Integration Section
                        @Html.TextBoxFor(X => X.txtCIS, new { @style = "background-color:#d3d3d3", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Plan Sheet/ Page Number
                        @Html.TextBoxFor(X => X.txtPgNo, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Applicant Comments
                        @Html.TextBoxFor(X => X.txtApplicantComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Back office Comments
                        @Html.TextBoxFor(X => X.txtBackOffComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-4 ">
                            Remove<br />
                            <input type="checkbox" id="chkRemove3" class="check" style="margin:10px;" />
                        </div>
                        <div class="col-md-4 ">
                            Deviation<br />
                            <input type="checkbox" id="chkDeviation3" class="check" style="margin:10px;" />
                        </div>
                        <div class=" col-md-2 ">
                            Edit<br />
                            <input type="checkbox" id="chkEdit3" class="check" style="margin:10px;" />
                        </div>
                    </div>

                </div>
            </div>

            <div class=" col-md-offset-5">
                <br /><br /><br />
                <input type="button" value="Launch Code Integration" style="width:165px;white-space:normal;background-color: #b22b2b;border: none;color: white; padding:2px; height:30px;" />
            </div>
            @*Page Navigatiom: Previous/Save & Continue*@
            <div class="bottom" style="padding-bottom:10em">
                <div class="col-lg-11">
                    @Html.ActionLink("Previous", "Index", "FireandSmokeProtectionFeatures", null, new { @class = "NextBtn" })
                </div>
                <div class="col-lg-1">
                    @Html.ActionLink("Save&Next", "Index", "FireProtectionSystems", null, new { @class = "NextBtn" })
                </div>
            </div>


        </form>
    }
</div>
