@model DOSBPM.Models.MechanicalRequirements

@{
    ViewBag.Title = "Mechanical Requirements";
}

<div class="container-fluid">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <form>
            <h3>Mechanical Requirements</h3><br />
            <div style="padding-left:10px;width:95%; display:inline-block; border:solid 1px ;">
                <br />
                <!--_ Equipment Schedule Provided-->
                <div>
                    <label class="col-md-3">Equipment Schedule Provided</label>
                    <div class="col-md-2 ">
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>Yes</label></div>
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>No</label></div>
                    </div>
                    <label class="col-md-2 col-md-offset-2">Please Explain</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.txtExpEquipmentSchedule, new { @class = "form-control" })
                    </div>
                </div>
                <div class="CodeIntegration col-md-12" style="width:100%;">
                    <br />
                    <div class="col-md-2">
                        Code Compliance Document
                        @Html.TextBoxFor(X => X.txtCCD, new { @style = "background-color:#d3d3d3;", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Code Integration Section
                        @Html.TextBoxFor(X => X.txtCIS, new { @style = "background-color:#d3d3d3", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Plan Sheet/ Page Number
                        @Html.TextBoxFor(X => X.txtPgNo, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Applicant Comments
                        @Html.TextBoxFor(X => X.txtApplicantComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Back office Comments
                        @Html.TextBoxFor(X => X.txtBackOffComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-4 text-center">
                            Remove<br />
                            <input type="checkbox" id="chkRemove" class="check" style="margin:10px;" />
                        </div>
                        <div class="col-md-4 text-center">
                            Deviation<br />
                            <input type="checkbox" id="chkDeviation" class="check" style="margin:10px;" />
                        </div>
                        <div class=" col-md-2  text-center">
                            Edit<br />
                            <input type="checkbox" id="chkEdit3" class="check" style="margin:10px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12"><br /></div>


                <!--1_ Load Calculations Provided-->
                <div>
                    <label class="col-md-3">Plumbing Materials Identified</label>
                    <div class="col-md-2 ">
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>Yes</label></div>
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>No</label></div>
                    </div>
                    <label class="col-md-2 col-md-offset-2">Please Explain</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.txtExpLoadCals, new { @class = "form-control" })
                    </div>
                </div>
                <div class="CodeIntegration col-md-12" style="width:100%;">
                    <br />
                    <div class="col-md-2">
                        Code Compliance Document
                        @Html.TextBoxFor(X => X.txtCCD, new { @style = "background-color:#d3d3d3;", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Code Integration Section
                        @Html.TextBoxFor(X => X.txtCIS, new { @style = "background-color:#d3d3d3", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Plan Sheet/ Page Number
                        @Html.TextBoxFor(X => X.txtPgNo, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Applicant Comments
                        @Html.TextBoxFor(X => X.txtApplicantComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Back office Comments
                        @Html.TextBoxFor(X => X.txtBackOffComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-4 text-center">
                            Remove<br />
                            <input type="checkbox" id="chkRemove" class="check" style="margin:10px;" />
                        </div>
                        <div class="col-md-4 text-center">
                            Deviation<br />
                            <input type="checkbox" id="chkDeviation" class="check" style="margin:10px;" />
                        </div>
                        <div class=" col-md-2  text-center">
                            Edit<br />
                            <input type="checkbox" id="chkEdit3" class="check" style="margin:10px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12"><br /></div>

                <!--2_ Vent locations identified on drawings -->
                <div>
                    <label class="col-md-3">Vent locations identified on drawings</label>
                    <div class="col-md-2 ">
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>Yes</label></div>
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>No</label></div>
                    </div>
                    <label class="col-md-2 col-md-offset-2">Please Explain</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.txtExpVentLoc, new { @class = "form-control" })
                    </div>
                </div>
                <div class="CodeIntegration col-md-12" style="width:100%;">
                    <br />
                    <div class="col-md-2">
                        Code Compliance Document
                        @Html.TextBoxFor(X => X.txtCCD, new { @style = "background-color:#d3d3d3;", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Code Integration Section
                        @Html.TextBoxFor(X => X.txtCIS, new { @style = "background-color:#d3d3d3", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Plan Sheet/ Page Number
                        @Html.TextBoxFor(X => X.txtPgNo, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Applicant Comments
                        @Html.TextBoxFor(X => X.txtApplicantComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Back office Comments
                        @Html.TextBoxFor(X => X.txtBackOffComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-4 text-center">
                            Remove<br />
                            <input type="checkbox" id="chkRemove" class="check" style="margin:10px;" />
                        </div>
                        <div class="col-md-4 text-center">
                            Deviation<br />
                            <input type="checkbox" id="chkDeviation" class="check" style="margin:10px;" />
                        </div>
                        <div class=" col-md-2  text-center">
                            Edit<br />
                            <input type="checkbox" id="chkEdit3" class="check" style="margin:10px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12"><br /></div>

                <!--3_ Exhaust locations identified on drawings-->
                <div>
                    <label class="col-md-3">Exhaust locations identified on drawings</label>
                    <div class="col-md-2 ">
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>Yes</label></div>
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>No</label></div>
                    </div>
                    <label class="col-md-2 col-md-offset-2">Please Explain</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.txtExpExhaustLoc, new { @class = "form-control" })
                    </div>
                </div>
                <div class="CodeIntegration col-md-12" style="width:100%;">
                    <br />
                    <div class="col-md-2">
                        Code Compliance Document
                        @Html.TextBoxFor(X => X.txtCCD, new { @style = "background-color:#d3d3d3;", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Code Integration Section
                        @Html.TextBoxFor(X => X.txtCIS, new { @style = "background-color:#d3d3d3", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Plan Sheet/ Page Number
                        @Html.TextBoxFor(X => X.txtPgNo, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Applicant Comments
                        @Html.TextBoxFor(X => X.txtApplicantComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Back office Comments
                        @Html.TextBoxFor(X => X.txtBackOffComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-4 text-center">
                            Remove<br />
                            <input type="checkbox" id="chkRemove" class="check" style="margin:10px;" />
                        </div>
                        <div class="col-md-4 text-center">
                            Deviation<br />
                            <input type="checkbox" id="chkDeviation" class="check" style="margin:10px;" />
                        </div>
                        <div class=" col-md-2  text-center">
                            Edit<br />
                            <input type="checkbox" id="chkEdit3" class="check" style="margin:10px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12"><br /></div>

                <!--4_ Ducts, dampers and penetration locations and types specified-->
                <div>
                    <label class="col-md-3">Ducts, dampers and penetration locations and types specified</label>
                    <div class="col-md-2 ">
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>Yes</label></div>
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>No</label></div>
                    </div>
                    <label class="col-md-2 col-md-offset-2">Please Explain</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.txtExpDuctDamperLoc, new { @class = "form-control" })
                    </div>
                </div>
                <div class="CodeIntegration col-md-12" style="width:100%;">
                    <br />
                    <div class="col-md-2">
                        Code Compliance Document
                        @Html.TextBoxFor(X => X.txtCCD, new { @style = "background-color:#d3d3d3;", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Code Integration Section
                        @Html.TextBoxFor(X => X.txtCIS, new { @style = "background-color:#d3d3d3", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Plan Sheet/ Page Number
                        @Html.TextBoxFor(X => X.txtPgNo, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Applicant Comments
                        @Html.TextBoxFor(X => X.txtApplicantComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Back office Comments
                        @Html.TextBoxFor(X => X.txtBackOffComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-4 text-center">
                            Remove<br />
                            <input type="checkbox" id="chkRemove" class="check" style="margin:10px;" />
                        </div>
                        <div class="col-md-4 text-center">
                            Deviation<br />
                            <input type="checkbox" id="chkDeviation" class="check" style="margin:10px;" />
                        </div>
                        <div class=" col-md-2  text-center">
                            Edit<br />
                            <input type="checkbox" id="chkEdit3" class="check" style="margin:10px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12"><br /></div>

                <!--5_ Smoke control provided-->
                <div>
                    <label class="col-md-3">Smoke control provided</label>
                    <div class="col-md-2 ">
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>Yes</label></div>
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>No</label></div>
                    </div>
                    <label class="col-md-2 col-md-offset-2">Please Explain</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.txtExpSmokeControl, new { @class = "form-control" })
                    </div>
                </div>
                <div class="CodeIntegration col-md-12" style="width:100%;">
                    <br />
                    <div class="col-md-2">
                        Code Compliance Document
                        @Html.TextBoxFor(X => X.txtCCD, new { @style = "background-color:#d3d3d3;", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Code Integration Section
                        @Html.TextBoxFor(X => X.txtCIS, new { @style = "background-color:#d3d3d3", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Plan Sheet/ Page Number
                        @Html.TextBoxFor(X => X.txtPgNo, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Applicant Comments
                        @Html.TextBoxFor(X => X.txtApplicantComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Back office Comments
                        @Html.TextBoxFor(X => X.txtBackOffComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-4 text-center">
                            Remove<br />
                            <input type="checkbox" id="chkRemove" class="check" style="margin:10px;" />
                        </div>
                        <div class="col-md-4 text-center">
                            Deviation<br />
                            <input type="checkbox" id="chkDeviation" class="check" style="margin:10px;" />
                        </div>
                        <div class=" col-md-2  text-center">
                            Edit<br />
                            <input type="checkbox" id="chkEdit3" class="check" style="margin:10px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12"><br /></div>

                <!--6_ Make up air provided-->
                <div>
                    <label class="col-md-3">Make up air provided</label>
                    <div class="col-md-2 ">
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>Yes</label></div>
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>No</label></div>
                    </div>
                    <label class="col-md-2 col-md-offset-2">Please Explain</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.txtExpMakeUpAir, new { @class = "form-control" })
                    </div>
                </div>
                <div class="CodeIntegration col-md-12" style="width:100%;">
                    <br />
                    <div class="col-md-2">
                        Code Compliance Document
                        @Html.TextBoxFor(X => X.txtCCD, new { @style = "background-color:#d3d3d3;", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Code Integration Section
                        @Html.TextBoxFor(X => X.txtCIS, new { @style = "background-color:#d3d3d3", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Plan Sheet/ Page Number
                        @Html.TextBoxFor(X => X.txtPgNo, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Applicant Comments
                        @Html.TextBoxFor(X => X.txtApplicantComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Back office Comments
                        @Html.TextBoxFor(X => X.txtBackOffComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-4 text-center">
                            Remove<br />
                            <input type="checkbox" id="chkRemove" class="check" style="margin:10px;" />
                        </div>
                        <div class="col-md-4 text-center">
                            Deviation<br />
                            <input type="checkbox" id="chkDeviation" class="check" style="margin:10px;" />
                        </div>
                        <div class=" col-md-2  text-center">
                            Edit<br />
                            <input type="checkbox" id="chkEdit3" class="check" style="margin:10px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12"><br /></div>

                <!--7_ Environments provided-->
                <div>
                    <label class="col-md-3">Environments provided</label>
                    <div class="col-md-2 ">
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>Yes</label></div>
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>No</label></div>
                    </div>
                    <label class="col-md-2 col-md-offset-2">Please Explain</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.txtExpEnvironments, new { @class = "form-control" })
                    </div>
                </div>
                <div class="CodeIntegration col-md-12" style="width:100%;">
                    <br />
                    <div class="col-md-2">
                        Code Compliance Document
                        @Html.TextBoxFor(X => X.txtCCD, new { @style = "background-color:#d3d3d3;", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Code Integration Section
                        @Html.TextBoxFor(X => X.txtCIS, new { @style = "background-color:#d3d3d3", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Plan Sheet/ Page Number
                        @Html.TextBoxFor(X => X.txtPgNo, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Applicant Comments
                        @Html.TextBoxFor(X => X.txtApplicantComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Back office Comments
                        @Html.TextBoxFor(X => X.txtBackOffComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-4 text-center">
                            Remove<br />
                            <input type="checkbox" id="chkRemove" class="check" style="margin:10px;" />
                        </div>
                        <div class="col-md-4 text-center">
                            Deviation<br />
                            <input type="checkbox" id="chkDeviation" class="check" style="margin:10px;" />
                        </div>
                        <div class=" col-md-2  text-center">
                            Edit<br />
                            <input type="checkbox" id="chkEdit3" class="check" style="margin:10px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12"><br /></div>
                <!--8_ Is there cooking equipment provided-->
                <div>
                    <label class="col-md-3">Is there cooking equipment provided</label>
                    <div class="col-md-2 ">
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>Yes</label></div>
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>No</label></div>
                    </div>
                    <label class="col-md-2 col-md-offset-2">Please Explain</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.txtExpCookingEquipment, new { @class = "form-control" })
                    </div>
                </div>
                <div class="CodeIntegration col-md-12" style="width:100%;">
                    <br />
                    <div class="col-md-2">
                        Code Compliance Document
                        @Html.TextBoxFor(X => X.txtCCD, new { @style = "background-color:#d3d3d3;", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Code Integration Section
                        @Html.TextBoxFor(X => X.txtCIS, new { @style = "background-color:#d3d3d3", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Plan Sheet/ Page Number
                        @Html.TextBoxFor(X => X.txtPgNo, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Applicant Comments
                        @Html.TextBoxFor(X => X.txtApplicantComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Back office Comments
                        @Html.TextBoxFor(X => X.txtBackOffComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-4 text-center">
                            Remove<br />
                            <input type="checkbox" id="chkRemove" class="check" style="margin:10px;" />
                        </div>
                        <div class="col-md-4 text-center">
                            Deviation<br />
                            <input type="checkbox" id="chkDeviation" class="check" style="margin:10px;" />
                        </div>
                        <div class=" col-md-2  text-center">
                            Edit<br />
                            <input type="checkbox" id="chkEdit3" class="check" style="margin:10px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12"><br /></div>

                <<!--9_ Any Alternative heating systems -->
                <div>
                    <label class="col-md-3">Any Alternative heating systems</label>
                    <div class="col-md-2 ">
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>Yes</label></div>
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>No</label></div>
                    </div>
                    <label class="col-md-2 col-md-offset-2">Please Explain</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.txtExpAltHeatingSys, new { @class = "form-control" })
                    </div>
                </div>
                <div class="CodeIntegration col-md-12" style="width:100%;">
                    <br />
                    <div class="col-md-2">
                        Code Compliance Document
                        @Html.TextBoxFor(X => X.txtCCD, new { @style = "background-color:#d3d3d3;", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Code Integration Section
                        @Html.TextBoxFor(X => X.txtCIS, new { @style = "background-color:#d3d3d3", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Plan Sheet/ Page Number
                        @Html.TextBoxFor(X => X.txtPgNo, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Applicant Comments
                        @Html.TextBoxFor(X => X.txtApplicantComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Back office Comments
                        @Html.TextBoxFor(X => X.txtBackOffComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-4 text-center">
                            Remove<br />
                            <input type="checkbox" id="chkRemove" class="check" style="margin:10px;" />
                        </div>
                        <div class="col-md-4 text-center">
                            Deviation<br />
                            <input type="checkbox" id="chkDeviation" class="check" style="margin:10px;" />
                        </div>
                        <div class=" col-md-2  text-center">
                            Edit<br />
                            <input type="checkbox" id="chkEdit3" class="check" style="margin:10px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12"><br /></div>

                <!--10_ Are seismic restraints provided-->
                <div>
                    <label class="col-md-3">Are Seismic restraints provided</label>
                    <div class="col-md-2 ">
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>Yes</label></div>
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>No</label></div>
                    </div>
                    <label class="col-md-2 col-md-offset-2">Please Explain</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.txtExpSeismicRestraints, new { @class = "form-control" })
                    </div>
                </div>
                <div class="CodeIntegration col-md-12" style="width:100%;">
                    <br />
                    <div class="col-md-2">
                        Code Compliance Document
                        @Html.TextBoxFor(X => X.txtCCD, new { @style = "background-color:#d3d3d3;", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Code Integration Section
                        @Html.TextBoxFor(X => X.txtCIS, new { @style = "background-color:#d3d3d3", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Plan Sheet/ Page Number
                        @Html.TextBoxFor(X => X.txtPgNo, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Applicant Comments
                        @Html.TextBoxFor(X => X.txtApplicantComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Back office Comments
                        @Html.TextBoxFor(X => X.txtBackOffComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-4 text-center">
                            Remove<br />
                            <input type="checkbox" id="chkRemove" class="check" style="margin:10px;" />
                        </div>
                        <div class="col-md-4 text-center">
                            Deviation<br />
                            <input type="checkbox" id="chkDeviation" class="check" style="margin:10px;" />
                        </div>
                        <div class=" col-md-2  text-center">
                            Edit<br />
                            <input type="checkbox" id="chkEdit3" class="check" style="margin:10px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12"><br /></div>

                <!--Additional Information-->
                <div>
                    <label class="col-md-3">Any additional information on this topic</label>
                    <div class="col-md-2 ">
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>Yes</label></div>
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>No</label></div>
                    </div>
                    <label class="col-md-2 col-md-offset-2">Please Explain</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.txtExpAdditionalInfo, new { @class = "form-control" })
                    </div>
                </div>
                <div class="CodeIntegration col-md-12" style="width:100%;">
                    <br />
                    <div class="col-md-2">
                        Code Compliance Document
                        @Html.TextBoxFor(X => X.txtCCD, new { @style = "background-color:#d3d3d3;", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Code Integration Section
                        @Html.TextBoxFor(X => X.txtCIS, new { @style = "background-color:#d3d3d3", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Plan Sheet/ Page Number
                        @Html.TextBoxFor(X => X.txtPgNo, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Applicant Comments
                        @Html.TextBoxFor(X => X.txtApplicantComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Back office Comments
                        @Html.TextBoxFor(X => X.txtBackOffComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-4 text-center">
                            Remove<br />
                            <input type="checkbox" id="chkRemove" class="check" style="margin:10px;" />
                        </div>
                        <div class="col-md-4 text-center">
                            Deviation<br />
                            <input type="checkbox" id="chkDeviation" class="check" style="margin:10px;" />
                        </div>
                        <div class=" col-md-2  text-center">
                            Edit<br />
                            <input type="checkbox" id="chkEdit3" class="check" style="margin:10px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12"><br /></div>
            </div>

            <div class=" col-md-offset-5">
                <br /><br />
                <input type="button" value="Launch Code Integration" style="width:165px;white-space:normal;background-color: #b22b2b;border: none;color: white; padding:2px; height:30px;" />
            </div>

            <div class="bottom" style="padding-bottom:12em">
                <div class="col-lg-11">
                    @Html.ActionLink("Previous", "Index", "ElectricalRequirements", null, new { @class = "NextBtn" })
                </div>
                <div class="col-lg-1">
                    @Html.ActionLink("Save&Next", "Index", "PlumbingRequirements", null, new { @class = "NextBtn" })
                </div>
            </div>

        </form>
    }
</div>
