<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/CSS/StyleSheet.css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@

    @*<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
   @* <script src="~/Scripts/jquery.validate.min.js"></script>*@
    <link href="~/Content/FooterBottom.css" rel="stylesheet" />
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <link href="~/Content/CSS/StyleSheet.css" rel="stylesheet" />
    <script src="~/Scripts/BPM_Js/Common.js"></script>
    <link href="~/Content/CSS/StyleSheet.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.js"></script>
</head>

<body oncontextmenu=" return disableRightClick();">

    @*<div class=" navbar-header navbar-fixed-top  " style="width:100%">
            <img src="~/Content/Images/VHeader.PNG" />
        </div>*@
    <header>
        <div class="content-wrapper">
            @Html.Partial("_Header")
        </div>
    </header>
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <div id="customerresult" class="itemdetailws">
        <div class="navbar-default" id="sidenav">
            <ul class="nav navbar-left">
                <li>@Html.ActionLink("Qualifying Information", "Index", "QualifyingInfo", null, new { @class = "classname" })</li>
                @*<li>@Html.ActionLink("Qualifying Information", "Index", "QualifyingQuestions", null, new { @class = "classname" })</li>*@

                @*<nav class="navbar-default">
                    <div class="container">
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-left">*@

                <li class="dropdown">
                    <a href="# " class="dropdown-toggle" data-toggle="dropdown">
                        Stakeholder Contact Information
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Property Owner Information", "Index", "PropertyOwnerInfo", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Property Owner Contact", "Index", "PropertyOwnerContact", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Additional Stakeholder Information", "Index", "AdditionalStakeholderInfo", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Additional Stakeholder Contacts", "Index", "AdditionalStakeholderContacts", null, new { @class = "classname" })</li>
                    </ul>
                </li>

                @*</ul>
                            </div>
                        </div>
                    </nav>*@

                <li>@Html.ActionLink("Building Information", "Index", "BuildingInfo", null, new { @class = "classname" })</li>
                <li>@Html.ActionLink("Additional Information", "Index", "AdditionalInfo", null, new { @class = "classname" })</li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Code Compliance Checklist Part I
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Project Description", "Index", "ProjectDescription", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Occupancy, Heights and Areas", "Index", "OccupancyHeightsandAreas", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Variance Questions", "Index", "VarianceQuestions", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Site and Utilities", "Index", "SiteandUtilities", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Misc. Additional Information", "Index", "MiscAdditionalInfo", null, new { @class = "classname" })</li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Code Compliance Checklist Part II
                    </a>
                    <ul class="dropdown-menu">

                        <li>@Html.ActionLink("Special Detailed Requirements Based on Use and Occupancy", "Index", "SpecialDetailedRequirementsBasedonUseandOccupancy", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Code Integration", "Index", "CodeIntegration", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("General Building Heights and Areas", "Index", "GeneralBuildingHeightsandAreas", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Type of Construction", "Index", "TypeofConstruction", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Fire and Smoke Protection Features", "Index", "FireandSmokeProtectionFeatures", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Interior Finishes", "Index", "InteriorFinishes", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Fire Protection Systems", "Index", "FireProtectionSystems", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Means of Egress", "Index", "MeansofEgress", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Accessibility", "Index", "Accessibility", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Interior Environment/ExteriorWalls and Rooftop Structures", "Index", "InteriorEnvironmentandExteriorWallsandRooftopStructures", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Energy Requirements", "Index", "EnergyRequirements", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Structural Design", "Index", "StructrualDesign", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Soils and Foundations", "Index", "SoilsandFoundations", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Construction Materials", "Index", "ConstructionMaterials", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Electrical Requirements", "Index", "ElectricalRequirements", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Mechanical Requirements", "Index", "MechanicalRequirements", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Plumbing Requirements", "Index", "PlumbingRequirements", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Fuel Gas Requirements", "Index", "FuelGasRequirements", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Elevators and Conveying Systems", "Index", "ElevatorsandConveyingSystems", null, new { @class = "classname" })</li>
                        <li>@Html.ActionLink("Safeguards During Construction", "Index", "SafeguardsDuringConstruction", null, new { @class = "classname" })</li>

                    </ul>
                </li>

                <li>@Html.ActionLink("Uploads", "Index", "Uploads", null, new { @class = "classname" })</li>
                <li>@Html.ActionLink("Payment", "Index", "Payment", null, new { @class = "classname" })</li>
                <li>@Html.ActionLink("Attestation/Submit", "Index", "AttestationandSubmit", null, new { @class = "classname" })</li>
                <li>@Html.ActionLink("Summary", "Index", "Summary", null, new { @class = "classname" })</li>
            </ul>
        </div>
        <div class="container body-content">
            <div style="margin-left : 400px ">
                @RenderBody()
                <footer>
                    <div class="content-wrapper">
                        <div class="float-left">
                            @Html.Partial("_Footer")
                        </div>
                    </div>
                </footer>
            </div>


        </div>

        @*<div class="navbar-fixed-bottom  ">
                <footer style="padding-left:40px">
                    <p>&copy; @DateTime.Now.Year Department of State - New York</p>
                </footer>
                <img src="~/Content/Images/VFooter.png" />
            </div>*@
        

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

</html>

@*For Disabling Right Click*@
<script type="text/javascript">
    //function disableRightClick() {
    //    alert("Sorry, right click is not allowed !!");
    //    return false;
    //}


    //$(function () {
    //    $("li").click(function (e) {
    //        e.preventDefault();
    //        $("li").css("background-color", "#007681");
    //        $(this).css("background-color", "red");
    //    });
    //});
    //$(document).ready(function () {
    //    $("div.content ul li a")
    //        .mouseover(function () {
    //            $(this).addClass('mouseover');
    //        })
    //        .mouseout(function () {
    //            $(this).removeClass('mouseover');
    //        });

    //    $("div.content ul li a").click(function (e) {
    //        e.preventDefault(); //prevent the link from actually navigating somewhere
    //        $(this).toggleClass("clicked");
    //        $("div.content ul li a").not(this).removeClass("clicked"); //remove the clicked class from all other elements
    //    });
    //});
</script>
