@model DOSBPM.Models.ElectricalRequirements

@{
    ViewBag.Title = "Electrical Requirements";
}
<div class="container-fluid">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <form>
            <h3>Electrical Requirements</h3> <br />
            <div style="padding-left:10px;width:95%; display:inline-block; border:solid 1px ;">
                <br />
                <!--1_ Emergency and / Standby Power systems-->
                <div>
                    <label class="col-md-3"> Is Emergency and/or Standby Power Systems Provided?</label>
                    <div class="col-md-2 ">
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>Yes</label></div>
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>No</label></div>
                    </div>
                    <label class="col-md-2 col-md-offset-2">Please Explain</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.txtExplainEmergencySys, new { @class = "form-control" })
                    </div>
                </div>
                <div class="CodeIntegration col-md-12" style="width:100%;">
                    <br />
                    <div class="col-md-2">
                        Code Compliance Document
                        @Html.TextBoxFor(X => X.txtCCD, new { @style = "background-color:#d3d3d3;", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Code Integration Section
                        @Html.TextBoxFor(X => X.txtCIS, new { @style = "background-color:#d3d3d3", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Plan Sheet/ Page Number
                        @Html.TextBoxFor(X => X.txtPgNo, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Applicant Comments
                        @Html.TextBoxFor(X => X.txtApplicantComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Back office Comments
                        @Html.TextBoxFor(X => X.txtBackOffComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-4 text-center">
                            Remove<br />
                            <input type="checkbox" id="chkRemove" class="check" style="margin:10px;" />
                        </div>
                        <div class="col-md-4 text-center">
                            Deviation<br />
                            <input type="checkbox" id="chkDeviation" class="check" style="margin:10px;" />
                        </div>
                        <div class=" col-md-2  text-center">
                            Edit<br />
                            <input type="checkbox" id="chkEdit3" class="check" style="margin:10px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12"><br /></div>
                <!-- Type of system-->
                <div>
                    <label class="col-md-3">What type of system is provided</label>
                    <div class="col-md-2">
                        @{
                            var ddlTypeofSystem = new List<string>();
                            //ddlTypeofSystem.Add("suffix");
                        }
                        @Html.DropDownListFor(model => model.ddlTypeofSystem, new SelectList(ddlTypeofSystem), "*")<br />
                    </div>
                    <div class="col-md-12"><br /></div>
                </div>

                <!--2_ structural design information -->
                <div>
                    <label class="col-md-3">Is it required </label>
                    <div class="col-md-2 ">
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>Yes</label></div>
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>No</label></div>
                    </div>
                    <label class="col-md-2 col-md-offset-2">Please Explain</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.txtExplainSysReqReason, new { @class = "form-control" })
                    </div>
                </div>
                <div class="CodeIntegration col-md-12" style="width:100%;">
                    <br />
                    <div class="col-md-2">
                        Code Compliance Document
                        @Html.TextBoxFor(X => X.txtCCD, new { @style = "background-color:#d3d3d3;", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Code Integration Section
                        @Html.TextBoxFor(X => X.txtCIS, new { @style = "background-color:#d3d3d3", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Plan Sheet/ Page Number
                        @Html.TextBoxFor(X => X.txtPgNo, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Applicant Comments
                        @Html.TextBoxFor(X => X.txtApplicantComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Back office Comments
                        @Html.TextBoxFor(X => X.txtBackOffComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-4 text-center">
                            Remove<br />
                            <input type="checkbox" id="chkRemove" class="check" style="margin:10px;" />
                        </div>
                        <div class="col-md-4 text-center">
                            Deviation<br />
                            <input type="checkbox" id="chkDeviation" class="check" style="margin:10px;" />
                        </div>
                        <div class=" col-md-2  text-center">
                            Edit<br />
                            <input type="checkbox" id="chkEdit3" class="check" style="margin:10px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12"><br /></div>

                <!-- Load Analysis-->
                <div>
                    <label class="col-md-3">Load analysis provided </label>
                    <div class="col-md-2 ">
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>Yes</label></div>
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>No</label></div>
                    </div>
                    <div class="col-md-12"><br /></div>
                </div>

                <!--Why No Load Analysis-->
                <div>
                    <label class="col-md-3">Why not</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.txtNoLoadAnalysis, new { @class = "form-control" })
                    </div>
                </div>
                    <div class="col-md-12"><br /></div>
                

                <!-- one Line Diagrams-->
                <div>
                    <label class="col-md-3">Are one line diagrams provided</label>
                    <div class="col-md-2 ">
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>Yes</label></div>
                        <div class="col-md-6"><input type="radio" class="RadYesNo" /><label>No</label></div>
                    </div>
                </div>
                    <div class="col-md-12"><br /></div>
                

                <!--3_ Additional Electric Features-->
                    <div>
                        <label class="col-md-3">Additional electrical features</label>
                        <div class="col-md-2 ">
                            @Html.TextBoxFor(x => x.txtAddElectricalFeatures, new { @class = "form-control" })
                        </div>
                    </div>
                <div class="CodeIntegration col-md-12" style="width:100%;">
                    <br />
                    <div class="col-md-2">
                        Code Compliance Document
                        @Html.TextBoxFor(X => X.txtCCD, new { @style = "background-color:#d3d3d3;", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Code Integration Section
                        @Html.TextBoxFor(X => X.txtCIS, new { @style = "background-color:#d3d3d3", @class = "form-control ", @readonly = "readonly" })<br />
                    </div>
                    <div class="col-md-2">
                        Plan Sheet/ Page Number
                        @Html.TextBoxFor(X => X.txtPgNo, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Applicant Comments
                        @Html.TextBoxFor(X => X.txtApplicantComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        Back office Comments
                        @Html.TextBoxFor(X => X.txtBackOffComments, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-4 text-center">
                            Remove<br />
                            <input type="checkbox" id="chkRemove" class="check" style="margin:10px;" />
                        </div>
                        <div class="col-md-4 text-center">
                            Deviation<br />
                            <input type="checkbox" id="chkDeviation" class="check" style="margin:10px;" />
                        </div>
                        <div class=" col-md-2  text-center">
                            Edit<br />
                            <input type="checkbox" id="chkEdit3" class="check" style="margin:10px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12"><br /></div>

            </div>

            <div class=" col-md-offset-5">
                <br /><br />
                <input type="button" value="Launch Code Integration" style="width:165px;white-space:normal;background-color: #b22b2b;border: none;color: white; padding:2px; height:30px;" />
            </div>

            <div class="bottom" style="padding-bottom:10em">
                <div class="col-lg-11">
                    @Html.ActionLink("Previous", "Index", "ConstructionMaterials", null, new { @class = "NextBtn" })
                </div>
                <div class="col-lg-1">
                    @Html.ActionLink("Save&Next", "Index", "MechanicalRequirements", null, new { @class = "NextBtn" })
                </div>
            </div>
        </form>
    }
</div>



